<%= simple_form_for([:admin, @admin_console], wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :product, label: 'Loại Máy' %>
    <%= f.input :name, label: 'Tên Máy' %>
    <%= f.input :slug %>
    <%= f.association :games, :as => :check_boxes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back %>
  </div>
<% end %>
