<div id="sidebar-bg">
  <%= link_to root_path, id: 'logo' do %>
    <%= image_tag 'logo.png', width: 180 %>
  <% end %>

  <%= link_to 'Thuê Máy Game', thue_may_game_path, class: 'main-item' %>
  <%= link_to 'Danh Sách Game', danh_sach_game_path, class: 'main-item' %>
  <%= link_to 'Shop Thiết Bị', shop_thiet_bi_path, class: 'main-item' %>
  <%= link_to 'Shop gift card', shop_giftcard_path, class: 'main-item' %>
  <%= link_to 'Câu Hỏi Thường Gặp', cau_hoi_thuong_gap_path, class: 'main-item' %>

  <p class="small" style="width: 140px; margin: 40px auto 0;">98 Thích Quảng Đức, P.5, Q.Phú Nhuận, TP.HCM</p>
  <h3 style="color:yellow;">0907 344 556</h3>
</div>